html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration-line: none;
    font-size: 14px;
    color: black;
}

a:hover {
    text-decoration-line: underline;
}

.logo {
    position: relative;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 25%;
}

.search {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar {
    border-radius: 2em;
    border-width: 1px;
    border-style: solid;
    border-color: lightgrey;
    margin-bottom: 20px;
    padding: 1em;
    width: 80ch;
}

.search-button {
    border-style: solid;
    border-color: transparent;
    border-radius: 0.5em;
    background-color: rgb(245,245,245);
    border-width: 1px;
    padding: 0.5em 1em 0.5em 1em;
}

.search-button:hover {
    border-color: rgb(200,200,200);
}

.container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-top {
    padding: 1em;
    height: 1em;
}

.container-top ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container-top li {
    display: inline;
    padding: 20px;
}

.container-centre {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    flex: 1;
}

.container-bottom {
    padding: 1em;
    font-size: 14px;
    background-color: rgb(235,235,235);
    height: 1em;
}